* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background-color: #c8c7c7;

}

.header {
    background-color: #1f2022;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25%;
    padding: 2%;
}
@media(max-width: 900px) {
    .header {
        gap: 15.5%;
    }
}
@media(max-width: 650px) {
    .header {
        width: 100%;
        gap: 7%;
    }
}

.heading h1 img {
    width: 30%;
    height: auto;
    padding: 0%;
}

.header a {
    color: #F8F8F8;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

#Home,
#About,
#Login {
    position: relative;
}

#Home::after,
#About::after,
#Login::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -2px;
    left: 0;
    background-color: #F8F8F8;
    transition: 800ms ease-in;
}

#Home:hover::after,
#About:hover::after,
#Login:hover::after {
    width: 100%;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    font-weight: 500;
    font-size: 1.01rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: "Raleway", sans-serif;
}

nav a:hover {
    background-color: #252530;

}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 20px;
    height: 100vh;
    width: 35%;
    background-color: #1f2022;
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px #1C2826;
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}

main {
    padding: 4%;
}