* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #c8c7c7;
}

.header {
    background-color: #1f2022;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
    padding: 0.75%;
}
@media(max-width: 900px) {
    .header {
        gap: 15.5%;
    }
}
@media(max-width: 650px) {
    .header {
        gap: 8%;
    }
}

.heading h1 img {
    width: 20%;
    height: auto;
    padding: 0%;
}

@media (max-width:500px) {
    .heading h1 img {
        width: 60%;
        height: auto;
    }
}

.header a {
    color: #F8F8F8;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

#Home,
#About,
#Login {
    position: relative;
}

#Home::after,
#About::after,
#Login::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -2px;
    left: 0;
    background-color: #F8F8F8;
    transition: 800ms ease-in;
}

#Home:hover::after,
#About:hover::after,
#Login:hover::after {
    width: 100%;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    font-weight: 500;
    font-size: 1.01rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: "Raleway", sans-serif;
}

nav a:hover {
    background-color: #252530;

}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 225px;
    background-color: #1f2022;
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px #1C2826;
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}

main {
    padding: 5%;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column; 
    background-color: #1f2022;
    height: 70vh;
    width: 45%;
    padding: 5%;
    border-radius: 10px;
    margin-left: 25%;
}
@media (max-width:500px) {
    form{
        width: 75%;
        margin-left: 15%;
    }
}

form label{
    color: #F8F8F8;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-family: 1.7rem;
    margin-bottom: 5px;
}
form input{
    background-color: #1f2022;
    border-right: 1px solid #1f2022;
    width: 35%;
    margin-bottom: 5%;
}

input[type="text"],
input[type="password"],
input[type="gmail"]{
    color: #F8F8F8;
}

input::placeholder{
    color: #;
}

form h1{
    font-family: "Oswald", sans-serif;
    color: #F8F8F8;
    margin-bottom: 10%;
}

form button{
    margin-top: 5%;
    font-family: "Oswald", sans-serif;
    width: 35%;
    font-size: 15px;
    border-radius: 7px;
    background-color: #FFFF;
    border: 1px solid #252530;
    color: #252530;
    padding: 2%;
}