* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #1C2826;
    ;
}

.header {
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25%;
}
@media(max-width: 650px) {
    .header {
        gap: 9%;
    }
}

@media(max-width: 450px) {
    .header {
        gap: 1%;
    }
}

.heading-sub h1 img {
    width: 12%;
    height: auto;
    padding: 0%;
    display: flex;
    justify-self: center;
}

@media (max-width:800px) {
    .heading-sub h1 img {
        width: 25%;
    }
}

.header a {
    color: #F8F8F8;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

.title {
    font-family: "Lato", sans-serif;
    color: #939498;
}

.title h1 {
    background-image: linear-gradient(90deg, #FFFFFF, #1C2826);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    animation: title-animation;
    animation-duration: 3s;
    animation-delay: 200ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes title-animation {
    10%{
        padding: 5%;
        font-family: "Lobster", sans-serif;
         background-image: linear-gradient(90deg, red, orange, yellow, green);
    white-space: wrap;
    }

    45%{
    background-image: linear-gradient(90deg, violet, indigo, blue);
    }

65%{
 background-image: linear-gradient(to right , #1C2826, #FFFFFF);
     white-space: wrap;
}

100%{
     background-image: linear-gradient(to right , #1C2826, #FFFFFF);
}
}

@media (max-width:600px) {
    .title h1 {
        font-size: 24px;
    }

}


#Home,
#About,
#Login {
    position: relative;
}

#Home::after,
#About::after,
#Login::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -2px;
    left: 0;
    background-color: #F8F8F8;
    transition: 800ms ease-in;
}

#Home:hover::after,
#About:hover::after,
#Login:hover::after {
    width: 100%;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 25px;
    font-weight: 500;
    font-size: 1.01rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #F8F8F8;
    font-family: "Raleway", sans-serif;
}

nav a:hover {
    background-color: #252530;

}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 225px;
    background-color: #1f2022;
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px #252530;
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.heading h1 {
    font-family: "Oswald", sans-serif;
    color: var(--base-clr);
    font-weight: 700;
}

@media(min-width:900px) {
    .heading {
        font-size: 1.8rem;
        font-weight: bold;
    }

}

.menu-button {
    display: none;
}

@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}

main {
    padding: 4%;
}

.mult {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 7.5%;
    font-family: "Alan Sans", sans-serif;
    place-items: center;
}

@media (max-width:1100px) {
    .mult {
        flex-wrap: wrap;
        gap: 4%;
    }
}

@media (max-width:800px) {
    .mult {
        display: flex;
        flex-direction: column;
    }
}


.mult p {
    color: #F2F0EF;
}

.mult img {
    width: 300px;
    height: auto;
}@media (max-width:1050px) {
    .mult img {
        padding: 0.1%;
        width: 200px;
        height: auto;
    }
}

@media (max-width:900px) {
    .mult img {
        padding: 0.1%;
        width: 65%;
        height: auto;
    }
}


.mult h2 {
    color: #BEBEBE;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 800;
}
@media (max-width:675px) {
    .mult h2 {
        font-size: 28px;
    }
}

.x-explained-txt-1,
.x-explained-txt-2,
.x-explained-txt-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    width: 30%;
    height: 775px;
    border-radius: 10px;
    border: 2px solid #596157;

}

@media (max-width:1100px) {

    .x-explained-txt-2,
    .x-explained-txt-3 {
        width: 37.5%;
        display: grid;
        height: 600px;
    }
}

@media (max-width:1100px) {

    .x-explained-txt-1{
        width: 79%;
        display: grid;
        margin-bottom: 2%;
        height: 670px;;
    }
}

@media (max-width:800px) {

    .x-explained-txt-1,
    .x-explained-txt-2,
    .x-explained-txt-3 {
        width: 60%;
        padding: 4%;
        margin: 5%;
        height: 575px;
    }
}


@media (max-width:700px) {

    .x-explained-txt-1,
    .x-explained-txt-2,
    .x-explained-txt-3 {
        width: 75%;
        padding: 5%;
        margin: 3%;
        height: 550px;
    }
}

@media (max-width:700px) {

    .x-explained-txt-1 {
        height: 675px;
    }
}

.test-btn{
    display: flex;
    align-items: right;
    justify-content: right;
    position: sticky;
    top: 0;
}
@media (max-width:500px) {
    .test-btn{
        justify-content: center;
    }
}

#test-tele-btn{
    background-color: #65B891;
    text-align: center;
    font-family: "Inter", sans-serif;
    padding: 8px;
    position: sticky;
    right: 25px;
    margin: 2%;
    border: 1px solid black;
    box-shadow: 1px 2px 1px 1px #1f2022;
    border-radius: 7px;
}

.test-btn a{
        text-decoration: none;
     text-align: center;
    color: #252530;
    font-size: 1rem;
}